<h1 class="text-3xl">Sobre la aplicacion</h1>
<hr class="my-2">
<section>
    <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ea amet voluptas quibusdam, nemo perferendis animi quisquam officia reiciendis cupiditate debitis numquam omnis dolorum, tempora quasi eveniet quo! Hic, neque?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla impedit mollitia aut in? Harum numquam possimus cumque quo neque quae voluptatum earum, ut necessitatibus cupiditate nam maxime, similique ea eos.
    </p>
</section>